<div class="container"> 
<form action="/ventas/busquedaCliente" method="post" class="form-inline">
<div class="form-group mx-sm-4 mb-2 justify-content-center">  
 <label for="search">Nombre del Cliente</label>
 <input type="text" class="form-control"name="search" id="search">
 </div> 
 <input type="submit" class="btn btn-primary mb-2" value="Buscar">
</form>
<br>

</div>
