  <nav class="navbar navbar-expand-lg navbar-light bg-dark ml-7">
        <img src="../images/logo_covamsa11.png" width="300">
        {{!-- <img src="../images/logo_covamsa11.png" width="200"> --}}
        <div className=" collapse navbar-collapse" >
          <ul class="navbar-nav m-auto">
          <li class="nav-item ">
              <a class="nav-link text-white text-uppercase ml-5" href="#"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase ml-5" href="index.html">Alta Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase ml-5" href="#">Busqueda de Pedidos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-uppercase ml-5" href="#">Busqueda de Orden de Compra</a>
            </li>
         </ul>
        </div>
    </nav><br>