<table>
    {{#each info}}
    <tr>
        <td>{{nombre}}</td>
        <td>{{numero_interno}}</td>
        <td> <a href="/ventas/busqueda/{{nombre}}">Seleccionar</a> </td>
    </tr>
    {{/each}}
</table>