/* .container-fluid{
    max-width: 800px;
    margin-left: 400px;
    margin-right: 300px;

}

/* input[type=file].file {
    color: transparent;
  } */

  /* #myclass{
      color:blue;
  } */ 

 /* background{ */
    /* color: blue
 } */